.popover {
  display: inline-block;
  position: relative;
  line-height: 0;
}

.body {
  min-height: 2rem;
  min-width: 10rem;
  background-color: red;
  position: absolute;
  z-index: 999;
}

.btn {
  display: inline-block;
}